<div class="sidebar">

  <div class="sidebar-header">
    <a href="/">
      <span>Corresponsalías</span>
    </a>
  </div>
  <hr>

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" 
         [class.active]="currentActiveItem === 'dashboard'" 
         (click)="navigateTo('dashboard', $event)">
        <i class="fas fa-tachometer-alt"></i> Dashboard
      </a>
    </li>
    <li>
      <a class="nav-link" 
         [class.active]="currentActiveItem === 'historial'" 
         (click)="navigateTo('historial', $event)">
        <i class="fas fa-history"></i> Historial
      </a>
    </li>
    <li>
      <a class="nav-link" 
         [class.active]="currentActiveItem === 'perfil'" 
         (click)="navigateTo('perfil', $event)">
        <i class="fas fa-user-circle"></i> Mi perfil
      </a>
    </li>
    <li *ngIf="isAdmin()">
      <a class="nav-link"
         [class.active]="currentActiveItem === 'administrar-usuarios'"
         (click)="navigateTo('administrar-usuarios', $event)">
        <i class="fas fa-users-cog"></i> Administrar Usuarios
      </a>
    </li>
    <li *ngIf="isAdmin()">
      <a class="nav-link"
         [class.active]="currentActiveItem === 'administrar-sistema'"
         (click)="navigateTo('administrar-sistema', $event)">
        <i class="fas fa-cogs"></i> Administrar Sistema
      </a>
    </li>
  </ul>

  <hr>
  <div class="logout-section">
    <a href="#" class="nav-link" (click)="logout($event)">
      <i class="fas fa-sign-out-alt"></i> Cerrar sesión
    </a>
  </div>
</div>